.activity {
	color: #060606;
	gap: 15px;
	text-align: center;
	display: flex;
	align-items: center;
	padding-bottom: 100px;
	&__list {
		display: flex;
		display: flex;
		justify-content: center;
		gap: 100px;
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		white-space: nowrap;
	}
}
.preview {
	justify-self: center;
	padding-bottom: 100px;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 7.81vw;
		padding-top: 60px;
		div {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
}

.homepage {
	background-color: #fff;
	width: 100%;
	margin: auto;
	max-width: 1100px;
	z-index: 100;
}

.preview__title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #060606;
}
.preview__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	color: #060606;
}

.activity__title {
	font-weight: 700;
	font-size: 19px;
	line-height: 23px;
}

.activity__subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: rgba(6, 6, 6, 0.35);
}
